emoji
faiss-cpu
flask
flask_socketio
flask_sqlalchemy
gevent-websocket
google-auth
google-auth-oauthlib
google-genai
google-search-results
elevenlabs
nltk
pandas
Pillow
pydub
pyglet
pylivelinkface
pymupdf
requests
scipy
sentence-transformers
transformers>=5.0
