deepface
emoji
faiss-cpu
flask
flask_socketio
flask_sqlalchemy
gevent-websocket
google-search-results
nltk
opencv-python
pandas
pydub
pyglet
pylivelinkface
pymupdf
scipy
sentence-transformers
google-genai
elevenlabs
openai-whisper
